---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Tarefa final">
	<main>
		<a href='/'><span>&larr;</span>Inicio</a>
		<h1>Principais servicos na AWS</h1>
		<ul>
			<li>EC2</li>
			<li>S3</li>
			<li>RDS</li>
			<li>Lambda</li>
		</ul>
	</main>
</Layout>