---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Tarefa final">
	<main>
		<a href='/'><span>&larr;</span>Inicio</a>
		<h1>Modelos de entrega</h1>
		<div>
			O modelo de entrega é a forma em que o recurso
			 ou conjunto de recursos computacionais são oferecidos 
			 aos clientes.
		</div>
		<img src="cloud-delivery-models.png" alt="Deploy models">
		<div>
			Existem tres modelos de entrega ampliamente aceitados:
		</div>
		<ul>
			<li>
				<div class="title"><strong>IaaS (Infrastructure as a Service):</strong></div>
				<p>
					O acceso a uma infraestrutura computacional virtualizada (servidores, armazenamento, redes) é fornecida como serviço.
				</p>
				<p>
					Um exemplo desse modelo de entrega seria o EC2 da Amazon Web Services, que é uma maquina virtual que pode ser alugada
					para levar a cabo qualquer tarefa que possa ser realizada em um servidor, como hospedar um web site ou realizar processamento de dados.
				</p>
			</li>
			<li>
				<div class="title"><strong>PaaS (Platform as a Service):</strong></div>
				<p>
					Neste modelo, além da infraestrutura virtualizada, também há um sistema operacional e o middleware necessário
					 para poder desenvolver e publicar aplicações. Também pode incluir o provisionamento de SDK (Software Development Kit) para facilitar o processo 
					 de desenvolvimento de software.
				</p>
				<p>
					Um exemplo desse modelo de entrega pode ser o Elastic Beanstalk da Amazon Web Services, que permite desenvolver e implantar aplicações
					fazendo uso de distintos serviços que a Amazon fornece, como o serviço EC2 para servidores, ou Amazon S3 que é usado para almacenar objetos.
				</p>

			</li>
			<li>
				<div class="title"><strong>SaaS (Software as a Service):</strong></div>
				<p>
					O software como serviço e basicamente qualquer aplicação que é consumida pela internet.
				</p>
				<p>
					Um exemplo desse modelo de entrega pode ser o Google Calendar, que permite gerenciar um calendário acessando ele por qualquer navegador
					de internet, e onde os nossos dados são armazenados na nuvem.
				</p>
			</li>
		</ul>
	</main>
</Layout>

<style>
	.title strong {
		color: rgb(var(--accent));
	}
</style>