---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Tarefa final">
	<main>
		<a href='/'><span>&larr;</span>Inicio</a>
		<h1>Modelos de implantacao</h1>
		<ul>
			<li>Nuvem publica</li>
			<li>Nuvem privada</li>
			<li>Nuvem hibrida</li>
			<li>Nuvem comunitaria</li>
		</ul>

	</main>
</Layout>