---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Tarefa final">
	<main>
		<h1>Computacao em nuvem</h1>
		<div class="introduction">
			<p>
				Desde o ponto de vista do consumidor, <strong>Computacao em nuvem</strong> e 
				disponer de recursos computacionais virtualizados, os quais estao fisicamente 
				localizados em datacenters ao redor do mundo e podem ser alugados/contratados como servico.
			</p>
			<p>
				E importante mencionar que a quantidade e as caracteristicas dos recursos deve poder 
				ser modificado pelo usuario, e o acceso aos mesmos deve poder ser feito pela internet.
			</p>
		</div>
		
		<ul role="list" class="link-card-grid">
			<Card
				href="/delivery"
				title="Modelos de entrega"
			/>
			<Card
				href="/deploy"
				title="Modelos de implantacao"
			/>
			<Card
				href="/players"
				title="Principais players"
			/>
			<Card
				href="/infrastructure"
				title="Infraestrutura global dos principais players"
			/>
			<Card
				href="/aws"
				title="Principais servicos AWS"
			/>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 80ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.introduction {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.introduction strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
