---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Tarefa final">
	<main>
		<a href='/'><span>&larr;</span>Inicio</a>
		<h1>Infraestrutura global dos principais players</h1>

		<ul>
			<li>
				<div class="title"><strong>Amazon Web Services (AWS):</strong></div>
				<p>
					A nuvem da AWS conta com 99 Availability Zones em 31 locações geográficas ao redor do mundo.
				</p>
				<p>
					Cada locação geográfica é chamada de Region e ela tem uma ou mais Availability Zones.
				</p>
				<p>
					Alem disso, AWS conta com mais de 450 Points of Presence, que podem ser servidores ou datacenters que são usados para viajar pela internet de forma mais rápida.
				</p>
				<img src="infra-aws.png" alt="infrastructure aws" width="650">
			</li>
			<li>
				<div class="title"><strong>Google Cloud Platform (GCP):</strong></div>
				<p>
					GCP conta com 37 regiões ao redor do mundo, 112 zonas em total dentro delas.
				</p>
				<p>
					A GCP oferece conexão aos seus serviços desde quase 100 locações ao redor do mundo.
				</p>
				<img src="infra-gcp.png" alt="infrastructure GCP" width="650">
			</li>
			<li>
				<div class="title"><strong>Microsoft Azure:</strong></div>
				<p>
					Microsoft Azure conta com mais de 60 regiões com datacenters, 200 datacenters em total, e 190 pontos de presença.
				</p>
				<img src="infra-azure.png" alt="infrastructure azure" width="650">
			</li>
		</ul>

	</main>
</Layout>

<style>
	.title strong {
		color: rgb(var(--accent));
	}
</style>