---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Tarefa final">
	<main>
		<a href='/'><span>&larr;</span>Inicio</a>
		<h1>Principais players</h1>
		<ul>
			<li>
				<div class="title"><strong>Amazon Web Services (AWS):</strong></div>
				<p>
					AWS é uma plataforma de computação em nuvem que pertence a Amazon.com.
				</p>
				<p>
					Foi uma das pioneras nesta industria, pois foi lançada em 2006.
				</p>
				<p>
					Entre as principais categorias de produtos que oferece estão: computação, armazenamento, banco de dados, redes, análise de dados, ML, segurança
				</p>
				<img src="aws-logo.png" alt="AWS logo" width="250">
			</li>
			<li>
				<div class="title"><strong>Google Cloud Platform (GCP):</strong></div>
				<p>
					GCP é uma suite de serviços de computação em nuvem que funcionam na mesma infraestrutura que a Google usa internamente para os produtos oferecidos aos clientes finais.
				</p>
				<p>
					Em 2008 GCP foi lançada, com o fornecimento da App Engine, uma plataforma para desenvolver e hospedar web sites nos datacenters da própria Google.
				</p>
				<img src="gcp-logo.png" alt="GCP logo" width="250">
			</li>
			<li>
				<div class="title"><strong>Microsoft Azure:</strong></div>
				<p>
					Microsoft Azure é uma plataforma de computação em nuvem criada pela Microsoft.
				</p>
				<p>
					Azure foi lançada em 2010 como "Windows Azure", para logo em março de 2014 passar a ter o nome atual.
				</p>
				<img src="azure-logo.png" alt="Azure logo" width="250">
			</li>
		</ul>
	</main>
</Layout>

<style>
	.title strong {
		color: rgb(var(--accent));
	}
</style>