---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Tarefa final">
	<main>
		<a href='/'><span>&larr;</span>Inicio</a>
		<h1>Principais players</h1>
		<ul>
			<li>Amazon Web Services</li>
			<li>Google Cloud Platform</li>
			<li>Microsoft Azure</li>
		</ul>
	</main>
</Layout>